   html {
    font-family: sans-serif; 
    line-height: 1.15; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
  }

  body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  figcaption,
  figure,
  main { 
    display: block;
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
  }
  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }

  a {
    background-color: transparent; 
    text-decoration: objects; 
  }

  a:active,
  a:hover {
    outline-width: 0;
  }

  abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
  }
 
  b,
  strong {
    font-weight: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }
 
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }
 
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  

  
  audio,
  video {
    display: inline-block;
  }

  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
 
  img {
    border-style: none;
  }
 
  
  svg:not(:root) {
    overflow: hidden;
  }
 
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
  }
  
  button,
  input { 
    overflow: visible;
  }

  button,
  select { 
    text-transform: none;
  }
 
  
  button,
  html [type="button"], 
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; 
  }
 
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
 
  
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
 
  
  legend {
    box-sizing: border-box; 
    color: inherit;
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
  }
  
 
  progress {
    display: inline-block; 
    vertical-align: baseline; 
  }

  
  textarea {
    overflow: auto;
  }
  

  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }

  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  

  
  details, 
  menu {
    display: block;
  }
  
 
  summary {
    display: list-item;
  }
  

  
  canvas {
    display: inline-block;
  }
 
  
  template {
    display: none;
  }
  
 
  
  [hidden] {
    display: none;
  }

  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color:white; 
      font-family: 'Raleway', sans-serif;
  }
  
  header {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  
  ul {
      color: white;
  }
  
  #index-info {
    padding-top: 50px;
  }

  
  #nav-style {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 300;
      color: white;
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      padding-right: 0;
  }
  
  nav #last-name {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: bold;
      color: white;
  }
  
  #nav-color .nav-item a {
      color: #efecea;
  }
  
  #toggle-button:focus {
    outline: 7px auto #008B8B;
  }
  
  .sections {
    height: 100vh;
    width: 100vw;
    display: table;
  }
  
  .content {
    display: table-cell;
  }

  #start-page-section {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  
  #jumbo-words {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: -20px 30px 10px 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .jumbo-paragraph {
    margin-top: -40px;
  }
  
  h1 {
    font-size: 3em;
    font-weight: bold;
      margin-bottom: 20px;
  }
  
  div #hello {
      margin-bottom: 70px;
  }

  
  #jumbo {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      margin: 0px 0 50px;
  }
  

  
  #about-page-section {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  
  #about {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #contact-page-section {
    background: #efecea;
    height: 100vh;
  }
  
  #contact-page-section h1{
    margin-top: 0;
  }
  
  #contact-header {
    text-align: center;
    padding-top: 100px;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Bahiana', cursive;
  }
  
  .contact-page-logos {
    height: 80px;
    width: 80px;
    padding: 10px;
    margin:20px;
  }
  
  .contact-phone-logo {
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 20px;
  }
  
  .contact-buttons {

    border-radius: 60px;
    background-size: 200px 200px;
    margin: 40px 20px 40px 20px
  }
  
  .contact-word-logo {
    display: inline-block;
  }
  
  .logo-names {
    color: #008B8B;
    font-weight: bold;
  }

  footer #right-footer-bg {
      background: #008B8B;
  }

  footer #button-style {
      background: #008B8B;
      border: 3px solid white;
      border-radius: 0;
      margin-top: 5px;
      margin-bottom: 10px;
  }
  
  footer #list-style {
      color: black;
  }
  
  footer #list-style .list-group-item {
      border: none;
      background: #008B8B;
  }
  
  footer #list-style .list-group-item a {
      color: white;
      margin-bottom: -10px;
  }
  
  footer #funny-text {
      display: block;
      font-size: .8em;
      color: #dfdfdf;
  }

  
  .social-text-twitter, .social-text-gmail, .social-text-linkedin {
      display: none;
      color: #dfdfdf;
      line-height: auto;
      text-decoration: none;
  }
  
  .social-logo-twitter, .social-logo-gmail, .social-logo-linkedin {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 5px;
      padding: 5px;
  }
  
  .left-buttons {
    background: #008B8B;
    background-size: 100px 100px;
    border-radius: 40px;
  }
  

  .social-logo-twitter:hover+#twitter-text, .social-logo-gmail:hover+#gmail-text, .social-logo-linkedin:hover+#linkedin-text {
      display: inline-block;
      color: #efecea;
      font-weight: bold;
      padding-right: 10px;
  }
  
  @media (max-width: 992px) {
  
    .social-logo-twitter:hover+#twitter-text, .social-logo-gmail:hover+#gmail-text, .social-logo-linkedin:hover+#linkedin-text {
        display: none;
    }
  
  }
  
  #foot {
    display: block;

  }

  .night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
  }
  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }
  .shooting_star::before, .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }
  .shooting_star::after {
    transform: translateX(50%) rotateZ(-45deg);
  }
  .shooting_star:nth-child(1) {
    top: calc(50% - 185px);
    left: calc(50% - 114px);
    animation-delay: 481ms;
  }
  .shooting_star:nth-child(1)::before, .shooting_star::after:nth-child(1), .shooting_star:nth-child(1)::after {
    animation-delay: 481ms;
  }
  .shooting_star:nth-child(2) {
    top: calc(50% - -12px);
    left: calc(50% - 161px);
    animation-delay: 6117ms;
  }
  .shooting_star:nth-child(2)::before, .shooting_star::after:nth-child(2), .shooting_star:nth-child(2)::after {
    animation-delay: 6117ms;
  }
  .shooting_star:nth-child(3) {
    top: calc(50% - 66px);
    left: calc(50% - 224px);
    animation-delay: 5789ms;
  }
  .shooting_star:nth-child(3)::before, .shooting_star::after:nth-child(3), .shooting_star:nth-child(3)::after {
    animation-delay: 5789ms;
  }
  .shooting_star:nth-child(4) {
    top: calc(50% - -76px);
    left: calc(50% - 241px);
    animation-delay: 8006ms;
  }
  .shooting_star:nth-child(4)::before, .shooting_star::after:nth-child(4), .shooting_star:nth-child(4)::after {
    animation-delay: 8006ms;
  }
  .shooting_star:nth-child(5) {
    top: calc(50% - -13px);
    left: calc(50% - 216px);
    animation-delay: 2434ms;
  }
  .shooting_star:nth-child(5)::before, .shooting_star::after:nth-child(5), .shooting_star:nth-child(5)::after {
    animation-delay: 2434ms;
  }
  .shooting_star:nth-child(6) {
    top: calc(50% - -62px);
    left: calc(50% - 271px);
    animation-delay: 5167ms;
  }
  .shooting_star:nth-child(6)::before, .shooting_star::after:nth-child(6), .shooting_star:nth-child(6)::after {
    animation-delay: 5167ms;
  }
  .shooting_star:nth-child(7) {
    top: calc(50% - -34px);
    left: calc(50% - 178px);
    animation-delay: 1711ms;
  }
  .shooting_star:nth-child(7)::before, .shooting_star::after:nth-child(7), .shooting_star:nth-child(7)::after {
    animation-delay: 1711ms;
  }
  .shooting_star:nth-child(8) {
    top: calc(50% - 133px);
    left: calc(50% - 143px);
    animation-delay: 7440ms;
  }
  .shooting_star:nth-child(8)::before, .shooting_star::after:nth-child(8), .shooting_star:nth-child(8)::after {
    animation-delay: 7440ms;
  }
  .shooting_star:nth-child(9) {
    top: calc(50% - -115px);
    left: calc(50% - 110px);
    animation-delay: 6141ms;
  }
  .shooting_star:nth-child(9)::before, .shooting_star::after:nth-child(9), .shooting_star:nth-child(9)::after {
    animation-delay: 6141ms;
  }
  .shooting_star:nth-child(10) {
    top: calc(50% - -60px);
    left: calc(50% - 207px);
    animation-delay: 3048ms;
  }
  .shooting_star:nth-child(10)::before, .shooting_star::after:nth-child(10), .shooting_star:nth-child(10)::after {
    animation-delay: 3048ms;
  }
  .shooting_star:nth-child(11) {
    top: calc(50% - -154px);
    left: calc(50% - 281px);
    animation-delay: 8481ms;
  }
  .shooting_star:nth-child(11)::before, .shooting_star::after:nth-child(11), .shooting_star:nth-child(11)::after {
    animation-delay: 8481ms;
  }
  .shooting_star:nth-child(12) {
    top: calc(50% - 95px);
    left: calc(50% - 195px);
    animation-delay: 4978ms;
  }
  .shooting_star:nth-child(12)::before, .shooting_star::after:nth-child(12), .shooting_star:nth-child(12)::after {
    animation-delay: 4978ms;
  }
  .shooting_star:nth-child(13) {
    top: calc(50% - 174px);
    left: calc(50% - 120px);
    animation-delay: 6409ms;
  }
  .shooting_star:nth-child(13)::before, .shooting_star::after:nth-child(13), .shooting_star:nth-child(13)::after {
    animation-delay: 6409ms;
  }
  .shooting_star:nth-child(14) {
    top: calc(50% - -196px);
    left: calc(50% - 217px);
    animation-delay: 7193ms;
  }
  .shooting_star:nth-child(14)::before, .shooting_star::after:nth-child(14), .shooting_star:nth-child(14)::after {
    animation-delay: 7193ms;
  }
  .shooting_star:nth-child(15) {
    top: calc(50% - -149px);
    left: calc(50% - 10px);
    animation-delay: 5690ms;
  }
  .shooting_star:nth-child(15)::before, .shooting_star::after:nth-child(15), .shooting_star:nth-child(15)::after {
    animation-delay: 5690ms;
  }
  .shooting_star:nth-child(16) {
    top: calc(50% - 137px);
    left: calc(50% - 300px);
    animation-delay: 989ms;
  }
  .shooting_star:nth-child(16)::before, .shooting_star::after:nth-child(16), .shooting_star:nth-child(16)::after {
    animation-delay: 989ms;
  }
  .shooting_star:nth-child(17) {
    top: calc(50% - -62px);
    left: calc(50% - 142px);
    animation-delay: 156ms;
  }
  .shooting_star:nth-child(17)::before, .shooting_star::after:nth-child(17), .shooting_star:nth-child(17)::after {
    animation-delay: 156ms;
  }
  .shooting_star:nth-child(18) {
    top: calc(50% - -145px);
    left: calc(50% - 204px);
    animation-delay: 5169ms;
  }
  .shooting_star:nth-child(18)::before, .shooting_star::after:nth-child(18), .shooting_star:nth-child(18)::after {
    animation-delay: 5169ms;
  }
  .shooting_star:nth-child(19) {
    top: calc(50% - 140px);
    left: calc(50% - 220px);
    animation-delay: 3872ms;
  }
  .shooting_star:nth-child(19)::before, .shooting_star::after:nth-child(19), .shooting_star:nth-child(19)::after {
    animation-delay: 3872ms;
  }
  .shooting_star:nth-child(20) {
    top: calc(50% - -77px);
    left: calc(50% - 117px);
    animation-delay: 6443ms;
  }
  .shooting_star:nth-child(20)::before, .shooting_star::after:nth-child(20), .shooting_star:nth-child(20)::after {
    animation-delay: 6443ms;
  }
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300px);
    }
  }
  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }
  